{% block footer %}
{% block style %}
{% endblock %}
{% load static %}
<!-- <footer>
  <div class="container">
    <div class="col-lg-12">
      <p>Copyright &copy; 2023 Mohit Prajapat. All rights reserved. &nbsp; &nbsp; &nbsp;
    </div>
  </div>
</footer> -->
<!-- Footer -->
<footer id="footer" class="pt-5">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="/#top"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="/#about"><i class="fa fa-angle-double-right"></i>News</a></li>
          <li><a href="/#couses"><i class="fa fa-angle-double-right"></i>Internship</a></li>
          <li><a href="/#events"><i class="fa fa-angle-double-right"></i>Seminars</a></li>
          <li><a href="/#image-gallery"><i class="fa fa-angle-double-right"></i>Image Gallery</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>University links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="https://btu.ac.in/home/SYLLABUS-FOR-UNDERGRADUATE-PROGRAMME2021-22146"><i
                class="fa fa-angle-double-right"></i>Syllabus</a></li>
          <li><a href="https://btu.ac.in/home/Notices--Orders79"><i class="fa fa-angle-double-right"></i>Examination</a>
          </li>
          <li><a href="/#recognition"><i class="fa fa-angle-double-right"></i>Recognition</a></li>
          <li><a href="documentview/duplicate-marksheet"><i class="fa fa-angle-double-right"></i>Duplicate Marksheet</a>
          </li>
          <li><a href="https://www.btu.ac.in/home/grievance"><i class="fa fa-angle-double-right"></i>FeedBack</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>College Academics</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="/#faculty"><i class="fa fa-angle-double-right"></i>Faculty</a></li>
          <li><a href="/studentcouncil"><i class="fa fa-angle-double-right"></i>Student Council</a></li>
          <li><a href="/achievements"><i class="fa fa-angle-double-right"></i>Achievements</a></li>
          <li><a href="/#glance"><i class="fa fa-angle-double-right"></i>Glance</a></li>
          <li><a href="/#contact" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.facebook.com/citabuinfo/"><i class="fa bi-facebook"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://twitter.com/citabuinfo"><i class="fa bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/info_cit/"><i class="fa bi-instagram"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://www.youtube.com/@citaburoad8124"><i
                class="fa bi-youtube"></i></a></li>
          <li class="list-inline-item"><a href="https://in.linkedin.com/school/chartered-institute-of-technology/"
              target="_blank"><i class="fa bi-linkedin"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">&copy; CIT360 All right Reversed. 2023</p>
        <p class="h6"><a class="text-green ml-2" href="https://www.youtube.com/@itsmohitprajapat"
            target="_blank">Designed and Developed by Mohit Prajapat, Yash Shiva, Parth Bairwa, Shakti Singh</a></p>
      </div>
      <hr>
    </div>
  </div>
  </>
  <!-- Footer -->
  <!-- Start Back to top -->
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" style="display: block;">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- End Back to top -->
  {% endblock %}