{% block courses %}
{% load static %}
<section class="section courses" id="image-gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>CIT Gallery</h6>
                    <h2>Life at CIT</h2>
                </div>
            </div>
        </div>
        <div class="row event_box">
            {% for imagegallery in imggallery_data %}
            {% if imagegallery.thumbnail %}
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer {{imagegallery.category}}">
                <div class="events_item">
                    <div class="thumb">
                        <a href="/gallery/{{imagegallery.category}}"><img src="{{imagegallery.images.url}}"
                                alt="{{imagegallery.title}}"></a>
                    </div>
                    <div class="down-content">
                        <h4>{{imagegallery.title}}</h4>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock %}