{% block courses %}
{% load static %}
<section class="section courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Get You Dream Job</h6>
                    <h2>Latest Internships</h2>
                </div>
            </div>
        </div>
        <ul class="event_filter">
            <li>
                <a class="is_active p-2 rounded" href="#!" data-filter="*">Show All</a>
            </li>
            <li>
                <a href="#!" class="p-2 rounded" data-filter=".cse">Computer Science</a>
            </li>
            <li>
                <a href="#!" class="p-2 rounded" data-filter=".ce">Civil</a>
            </li>
            <li>
                <a href="#!" class="p-2 rounded" data-filter=".me">Mechanical</a>
            </li>
            <li>
                <a href="#!" class="p-2 rounded" data-filter=".ee">Electrical</a>
            </li>
            <li>
                <a href="#!" class="p-2 rounded" data-filter=".electronics">Electronics</a>
            </li>
        </ul>
        <div class="row event_box">
            {% for i in internship_data|slice:":9" %}
            <!-- Internship Start -->
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 {{i.field}}">
                <div class="events_item">
                    <div class="thumb">
                        <a href="internship/{{i.id}}">
                            <img src="{{i.jobimage.url}}" height="240px"></a>
                        <span class="category">{{i.field}}</span>
                        <span class="price">
                            <h6><em>$</em>{{i.stipend}}</h6>
                        </span>
                    </div>
                    <div class="down-content">
                        <span class="author">{{i.internshipcreator}}</span>
                        <h4>{{i.jobtitle}}</h4>
                    </div>
                </div>
            </div>
            {% empty %}
            {% include 'element/404.html' %}
            {% block 404 %}{% endblock %}
            <!-- Internship End -->
            {% endfor %}
        </div>
        <div class="main-button text-center">
            <a href="/internship/all">Show More</a>
        </div>
    </div>
</section>
{% endblock %}